.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
**/.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
lateral-brain-ui/src/** 
lateral-brain-ui/node_modules/** 
**/tsconfig.json
**/tsconfig.node.json
**/tsconfig.app.json
**/package-lock.json
**/eslint.config.js
**/config.js
**/config.ts
**/eslint.config.mjs
**/*.map
**/*.ts
**/*.lock
**/.vscode-test.*
!src/important-file.ts
!src/**/*.spec.ts
.husky/**
commitlint.config.js